html {
    background: black;
}

h1.logo {
    position: absolute;
    z-index: 1;
}

h1.logo a {
    color: black;
    box-shadow: none;
}

nav {
    position: absolute;
    z-index: 1;
}

nav.bottom {
    bottom: 0;
}

nav a {
    color: red;
    text-decoration: none;
    box-shadow: none;
    display: inline-block;
    font-family: "Merriweather Sans", sans-serif;
}

.BrainhubCarousel__trackContainer {
    max-height: 70vh;
    overflow-y: scroll !important;
}

.BrainhubCarouselItem {
    align-items: start !important;
    justify-content: center;
}

.BrainhubCarouselItem a {
    word-break: break-word;
    max-width: 75%;
}

#take-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#take-action h3 {
    margin-top: 0;
}

#take-action img {
    margin: 0 auto;
}

#take-action section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 33%;
}

@media only screen and (max-width: 768px) {
    .BrainhubCarouselItem {
        justify-content: flex-start !important;
    }
    #take-action {
        flex-direction: column;
    }
    #take-action section {
        max-width: 100%;
    }
    #take-action img {
        margin-left: 0;
    }
    #take-action h3 {
        margin-top: 2rem;
    }
}