html {
    background: black;
}

h1.logo {
    position: absolute;
    z-index: 1;
}

h1.logo a {
    color: black;
    box-shadow: none;
}

nav {
    position: absolute;
    z-index: 1;
}

nav.bottom {
    bottom: 0;
}

nav a {
    color: red;
    text-decoration: none;
    box-shadow: none;
    display: inline-block;
    font-family: "Merriweather Sans", sans-serif;
}

.BrainhubCarousel__trackContainer {
    max-height: 100vh;
    overflow-y: scroll;
}

.BrainhubCarouselItem {
    align-items: start !important;
}

#take-action {
    display: flex;
    flex-direction: row;
}

#take-action h3 {
    margin-top: 0;
}

#take-action img {
    margin: auto;
}

#take-action section {
    display: flex;
    flex-direction: column;
}